main {
    padding-left: 8px;
    padding-right: 8px;
    padding: 20px;
    background-color: var(--current-line);
    border-radius: 8px;
}

form {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-error {
    color: var(--red);
}

.input-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    color: var(--foreground);
    margin-bottom: 8px;
}

.form-input {
    margin-top: 13px;
    width: 92%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--comment);
    background-color: var(--background);
    color: var(--foreground);
}

.form-input input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--foreground);
    outline: none;
}

.invisible {
    color: var(--current-line);
}

form button {
    width: 80%;
    padding: 8px;
    border-radius: 20px;
    background: var(--green);
    color: var(--foreground);
}

form button:hover {
    cursor: pointer;
    background: var(--green-hover);
}

@media screen and (min-width: 768px) {

    form button,
    .form-input,
    .switch-pages,
    .top-error {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .register {
        width: 450px;
        height: 430px;
    }

    .login {
        width: 450px;
        height: 330px
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 85%;
        height: 50%;
    }

    form {
        gap: 22px;
    }
}