.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.chat-box {
    max-width: 720px;
    height: 75%;
    background-color: var(--current-line);
    color: white;
    width: 85%;
    border-radius: 12px;
    padding: 16px;
}

.chat-box .messages {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.messages .message {
    width: 60%;
    min-width: 300px;
    padding: 12px;
    border-radius: 8px;
}

.message .author {
    font-size: 14px;
    font-weight: 600;
    color: var(--foreground);
}

.message .content {
    font-size: 18px;
    font-weight: 500;
    color: var(--foreground);
}

.messages .other-user {
    background-color: var(--pink);
    align-self: flex-start;
}

.messages .self-user {
    background-color: var(--purple);
    align-self: flex-end;
}
